# .gitignore

# Ignorar o arquivo provider.tf
provider.tf

03-Terraform/.terraform/

03-Terraform/provider.tf

04-WebAppsCode/

# Outros arquivos ou diretórios a serem ignorados
# /node_modules
# /dist